*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #F1F1F1;
  color: $font-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
  position: relative;
}
.wrapper-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  main {
    flex: 1 0 auto;
    padding: 20px 0;
  }
  footer,
  header {
    flex: 0 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  color: $title-color;
  margin: 20px 0;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 21px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 500;
}
p + p {
  margin-top: 20px;
}
.lead-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.text-center {
  text-align: center;
}

.section {
  padding: 20px 0 50px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 5px 0;
  list-style: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $title-color;
    }
  }
}
ol {
  margin: 5px 0;
  list-style: none;
  padding-left: 0;
  counter-reset: myCounter;
  li {
    padding-left: 20px;
    position: relative;
    &:before {
      counter-increment: myCounter;
      content:counter(myCounter) ". ";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      color: $title-color;
      display: inline-block;
    }
  }
}
table {
  margin: 20px 0;
}
th {
  text-align: left;
  color: $font-color;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  border-bottom: .75px solid $font-color;
  padding: 7px 5px;
}
td {
  padding: 15px 5px;
  color: $title-color;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border-bottom: .75px solid rgba(171, 171, 171, .4);
}
.box-head {
    border-bottom: 0.75px solid $font-color;
    padding: 15px 0;
    justify-content: space-between;
}
.box-body {
    padding: 7px 0;
    margin-bottom: 20px;
}
.box-footer {
    padding-bottom: 20px;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.title {
  font-weight: 700;
  font-size: 24px;
  color: $title-color;
  line-height: normal;
}
.title-blue,
.section-title--blue {
  color: $dark-blue;
}
.section-title--white {
  color: #fff;
}
.title--light-blue {
  color: $blue;
}
.title-red {
  color: $red;
}
.section-title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 15px;
}
.section-title--left {
  text-align: left;
}
.section-desc {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.text-medium {
  font-weight: 500;
}
.white-bg {
  background-color: #fff;
}
.gradient-bg--vertical {
  background: linear-gradient(136.12deg, #1385C5 7.66%, rgba(73, 236, 197, 0.97) 98.13%);
}
.dark-gray-bg {
  background-color: #E7EDF1;
}
.light-gray-bg {
  background-color: #F3F3F3;
}

.breadcrumbs {
  margin: 10px 0;
}
.breadcrumbs-item {
  padding-left: 0;
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  margin-bottom: 0;
  &:before {
    display: none;
  }
  &:after {
    content: ' > ';
    position: absolute;
    top: 0;
    right: 0;
  }
  &:last-child:after {
    display: none;
  }
  a {
    color: $title-color;
    &:hover {
      color: $blue;
    }
  }
}

.avatar {
  width: 45px;
  height: 45px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.meta-box {
  margin: 0 10px;
  color: $dark-gray;
  line-height: normal;
  .meta-title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .meta-small-text {
    font-weight: 400;
    font-size: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 20px 0;
  }
  .section-title {
    font-size: 26px;
    text-align: center;
  }
  .section-desc {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper-flex--sm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    main {
      flex: 1 0 auto;
      padding: 20px 0;
    }
    footer,
    header {
      flex: 0 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  main {
    flex: 1 0 auto;
    padding: 20px 0;
  }
  footer,
  header {
    flex: 0 0 auto;
  }
  .lk-wrapper {
    display: flex;
    flex: 1 0 auto;
  }
}