*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #F1F1F1;
  color: $font-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding: 20px 0 50px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.box-head {
    border-bottom: 0.75px solid $font-color;
    padding: 15px 0;
    justify-content: space-between;
}
.box-body {
    padding: 7px 0;
    margin-bottom: 20px;
}
.box-footer {
    padding-bottom: 20px;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.title {
  font-weight: 700;
  font-size: 24px;
  color: $title-color;
  line-height: normal;
}
.title-blue,
.section-title--blue {
  color: $dark-blue;
}
.section-title--white {
  color: #fff;
}
.title--light-blue {
  color: $blue;
}
.section-title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 15px;
}
.section-title--left {
  text-align: left;
}
.section-desc {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.white-bg {
  background-color: #fff;
}
.gradient-bg--vertical {
  background: linear-gradient(136.12deg, #1385C5 7.66%, rgba(73, 236, 197, 0.97) 98.13%);
}
.dark-gray-bg {
  background-color: #E7EDF1;
}
.light-gray-bg {
  background-color: #F3F3F3;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 20px 0;
  }
  .section-title {
    font-size: 26px;
    text-align: center;
  }
  .section-desc {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  main {
    flex: 1 0 auto;
    padding: 20px 0;
  }
  footer,
  header {
    flex: 0 0 auto;
  }
  .lk-wrapper {
    display: flex;
    flex: 1 0 auto;
  }
}