.container {
    width: 1140px;
    margin: 0 auto;
}
.container-full {
  width: 100%;
  padding: 0 30px;
}
.box {
  display: flex;
}
.box-wrap {
  flex-wrap: wrap;
}
.box-row {
  margin: 0 -15px;
}
.box-row--thin {
  margin: 0 -30px;
  padding: 0 90px;
}
.box-center {
  justify-content: center;
}
.box-between {
  justify-content: space-between;
}
.box-center--vertical {
  align-items: center;
}

.column {
  padding: 0 15px;
}
.column-full {
  width: 100%;
}
.column-ten {
  width: 83.3%;
}
.column-eight {
  width: 66.6%;
}
.column-half {
  width: 50%;
}
.column-third {
  width: 33.3%;
}
.column-four {
  width: 25%;
}
.column--thin {
  padding: 0 30px;
}


@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
