$font-color: 		#ABABAB;
$title-color:       #3B3B3B;
$blue: 				#26A7C5;
$dark-blue:       	#25709A;
$light-gray: 		#E8E8E8;
$dark-gray: 		#515151;
$gray: 				#626262;
$red: 				#DA1F13;


$font-family:		'Ubuntu', sans-serif;
$font-family-sub:	'Roboto', sans-serif;

$transition: 		 all 500ms ease;