$font-color: 		#ABABAB;
$title-color:       #3B3B3B;
$blue: 				#26A7C5;
$dark-blue:       	#25709A;


$font-family:		'Ubuntu', sans-serif;
$font-family-sub:	'Roboto', sans-serif;

$transition: 		 all 500ms ease;