.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 23px;
    color: #fff;
    border-radius: 5px;
	text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    border: none;
    &.btn--light-blue {
        background-color: $blue;
        &:hover,
        &:active {
            background-color: $dark-blue;
        }
    }
    &.btn--dark-blue {
        background-color: $dark-blue;
        &:hover,
        &:active {
            background-color: $blue;
        }
    }
    &.btn--small {
        width: 133px;
    }
    &.btn--large {
        padding: 10px 45px;
    }
}

.btn-white {
    background-color: #fff;
    color: $dark-blue;
    &:hover,
    &:active {
        background-color: $blue;
        color: #fff;
    }
}
.btn-transparent {
    border: 1px solid #fff;
    &:hover,
    &:active {
        background-color: #fff;
        color: $dark-blue;
    }
}
.btn-default {
    background-color: transparent;
    border: 0.5px solid #C7C6C6;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $font-color;
    padding: 5px 10px;
}
.btn-border {
    border-width: 1px;
    border-style: solid;
}
.btn-border--blue {
    border-color: $blue;
}
.btn-full {
    width: 100%;
}
.btn-center {
    margin: auto;
    display: block;
}
.share-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $blue;
    padding-left: 20px;
    &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 13px;
        background: url(../img/share.svg) 0 0 no-repeat;
    }
}
.btn-text {
    background-color: transparent;
    border: none;
}
.btn-text--dark-blue {
    color: $dark-blue;
    &:hover {
        color: $blue;
    }
}