.btn {
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    padding: 9px 23px;
    color: #fff;
    border-radius: 5px;
	text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    border: none;
    &.btn--light-blue {
        background-color: $blue;
        &:hover,
        &:active {
            background-color: $dark-blue;
        }
    }
    &.btn--dark-blue {
        background-color: $dark-blue;
        &:hover,
        &:active {
            background-color: $blue;
        }
    }
    &.btn--small {
        width: 133px;
    }
}