.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 23px;
    color: #fff;
    border-radius: 5px;
	text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    border: none;
    &.btn--light-blue {
        background-color: $blue;
        &:hover,
        &:active {
            background-color: $dark-blue;
        }
    }
    &.btn--dark-blue {
        background-color: $dark-blue;
        &:hover,
        &:active {
            background-color: $blue;
        }
    }
    &.btn--small {
        width: 133px;
    }
}

.btn-white {
    background-color: #fff;
    color: $dark-blue;
    &:hover,
    &:active {
        background-color: $blue;
        color: #fff;
    }
}
.btn-transparent {
    border: 1px solid #fff;
    &:hover,
    &:active {
        background-color: #fff;
        color: $dark-blue;
    }
}
.btn-full {
    width: 100%;
}
.btn-center {
    margin: auto;
}