.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  p + p {
    margin-top: 0;
  }
}
.card-photo {
  width: 100%;
  height: 134px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
  }
}
.card-wrapper {
  padding: 0 15px;
}
.card-head {
  padding: 15px 0;
  border-bottom: 0.75px solid #C7C6C6;;
}
.card-head--fix-height {
  height: 75px;
  overflow: hidden;
}
.card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  color: $title-color;
  margin: 0;
}
.card-title--blue {
  color: $dark-blue;
}
.card-title--light-blue {
  color: $blue;
}
.card-title--medium {
  font-weight: 500;
}
.card-title--bold {
  font-weight: 700;
}
.card-body {
  padding: 15px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: $font-color;
}
.card-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: $title-color;
}
.card-desc {
  margin-top: 15px;
}
.card-body--fix-height {
  height: 170px;
  overflow: hidden;
}
.card-footer {
  padding: 15px 0;
  align-items: baseline;
}
.card-dark-gray-text {
  color: #616161;
}
.card-large-text {
  font-size: 21px;
  line-height: normal;
}
.card-medium-text {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}
.card-small-text {
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
}
.card-favorite-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 36.98px;
  height: 36.98px;
  background: url(../img/star.svg) 0 0 no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  &.card-favorite-link--active {
      background: url(../img/star-blue.svg) 0 0 no-repeat;
      background-size: 36.98px 36.98px;
  }
}
.card-favorite-link--small {
  width: 19.27px;
  height: 19.27px;
  background-size: 19.27px 19.27px;
  &.card-favorite-link--active {
      background-size: 19.27px 19.27px;
  }
}
.card-favorite {
  width: 30px;
  text-align: right;
}