.file-field-container {
	position: relative;
	width: 200px;
	display: inline-block;
	vertical-align: middle;
}
.file-field-label {
	display: block;
	padding: 10px 20px;
	background: $blue;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.file-field {
	position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    height: 40px;
    margin: 0;
}
.file-field:hover + .file-field-label,
.file-field:focus + .file-field-label,
.file-field-label:hover,
.file-field-label:focus {
	background: $dark-blue;
}

.file-return {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
	color: $title-color;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	width: auto;
	&:not(:empty):before {
		content: "Выбранный файл: ";
	}
}
