.filter-box {
	margin-top: 27px;
	margin-bottom: 30px;
}
.filter-form {
	margin: 0 -20px;
}
.filter-group {
	padding: 0 20px;
}
select.custom-select {
	display: none;
}
.custom-select-trigger {
	font-weight: 500;
	font-size: 14px;
	color: $title-color;
	position: relative;
	padding-right: 15px;
	cursor: pointer;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 3px;
		margin: auto;
		right: 0;
		width: 10px;
		height: 10px;
		display: block;
		background: url(../img/rectangle.svg) 0 0 no-repeat;
	}
}
.custom-select.opened {
	position: relative;
	.custom-options {
		display: block;
	}
}

.custom-options {
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	min-width: 150px;
	height: 150px;
	background: #F6F6F6;
	border: 1px solid #EFEFEF;
	border-radius: 7px;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	color: $title-color;
	padding: 10px 7px;
	overflow-y: auto;
}
.custom-option {
	padding-bottom: 10px;
	cursor: pointer;
	&.selection,
	&:hover {
		color: $blue;
	}
}