.form-head {
	background: #E8E8E8;
	border-bottom: 0.5px solid #C7C6C6;
	border-radius: 5px 5px 0 0;
	padding: 11px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: $title-color;
}

.form-body {
	padding: 11px;
	p {
		font-size: 12px;
		line-height: 17px;
		color: #616161;
	}
}
fieldset {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	p {
		text-align: center;
		margin-bottom: 5px;
	}
}
label {
	font-weight: normal;
	font-size: 10px;
	color: #ABABAB;
	line-height: normal;
	display: block;
	& + input,
	& + .custom-select-wrapper {
		margin-top: 3px;
	}
}
input {
	margin: 5px 0;
	background: #E8E8E8;
	border-radius: 5px;
	font-size: 12px;
	line-height: 17px;
	color: #515151;
	padding: 8px 10px;
	border: none;
	outline: none;
	width: 100%;
	box-sizing: border-box;
}
input[type="submit"] {
	background-color: $dark-blue;
	color: #fff;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	padding: 10px;
	&:hover,
	&:active {
		background-color: $blue;
	}
}

.form-link {
	font-weight: 500;
	font-size: 12px;
	line-height: 17px;
	color: $blue;
	text-align: right;
	display: block;
	&:hover,
	&:active {
		color: $dark-blue;
	}
}
.form-footer {
	justify-content: space-between;
	padding-bottom: 5px;
	padding-top: 15px;
}
.form-footer p,
.form-footer a {
	font-size: 10px;
	line-height: 14px;
}
.field-group {
	margin-bottom: 15px;
}