header {
	background-color: #F1F1F1;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
	padding: 15px 0;
	position: relative;
	height: 80px;
	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
		& + div,
		& + section,
		& + main {
			margin-top: 80px;
		}
	}
}
.header-box {
	align-items: center;
	justify-content: space-between;
}
.logo {
	width: 100px;
}
.logo-link {
	font-family: $font-family-sub;
	font-size: 24px;
	color: $dark-blue;
	span {
		font-weight: 900;
	}
}
.header-links {
	width: 20%;
	text-align: right;
}
.header-links-list {
	margin: 0;
}
.header-links-item {
	display: inline-block;
	vertical-align: top;
	padding: 0 11px;
	&:before {
		display: none;
	}
	&:last-child {
		padding-right: 0;
	}
	a {
		font-weight: 500;
		font-size: 14px;
	}
}
.header-links-login {
	color: $title-color;
}
.header-links-registration {
	color: #fff;
	background-color: $blue;
	border-radius: 5px;
	padding: 7px 10px;
	&:hover,
	&:active {
		background-color: $dark-blue;
	}
}

.lk-header {
	padding: 15px 0 20px;
	.menu {
		width: 60%;
	}
	&.fixed {
		& + .lk-wrapper {
			margin-top: 80px;
		}
	}
}
.header-meta {
	align-items: center;
	padding-left: 20px;
	.dropdown-menu {
		padding: 0 15px;
		position: relative;
	}
}

@media screen and (max-width: 767px) {
	header {
	    padding: 8px 0;
	    height: auto;
	    &.fixed {
	    	& + div,
	    	& + section,
	    	& + main {
	    		margin-top: 40px;
	    		padding-top: 40px;
	    	}
	    }
	}
	.lk-header {
	    padding: 8px 0;
	    .mobile-menu-list {
		    top: 63px;
		}
		&.fixed + .lk-wrapper {
		    margin-top: 62px;
		}
		.search-field {
		    position: absolute;
		    width: 165px;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		    right: 0;
		    z-index: 5;
		}
		.search-btn {
			z-index: 6;
		}
		.search {
			position: relative;
			width: calc(100% - 230px);
			margin-right: 0;
		}
		.header-meta {
			padding-left: 0;
		}
	}
}

@media screen and (min-width: 768px) {
	.lk-header {
		.mobile-menu {
			display: none;
		}
	}
}

