.logo-item {
	width: 33.3%;
	text-align: center;
	margin-bottom: 40px;
	img {
		max-width: 110px;
	}
}

.privacy-list,
.logo-list {
	margin: 0;
}
.privacy-item,
.logo-item {
	padding-left: 0;
	&:before {
		display: none;
	}
}


@media screen and (max-width: 767px) {
	.logo-list {
		margin-top: 25px;
	}
	.logo-item {
		width: 50%;
	}
}