// Главная
.for-him {
    padding-bottom: 30px;
}
.courses {
    padding-top: 50px;
    text-align: center;
    .card {
        margin-bottom: 60px;
    }
    .section-title {
        margin-bottom: 40px;
    }
}
.partners {
    padding-top: 70px;
    padding-bottom: 120px;
}
.vacancy-main {
    padding-top: 50px;
    .card {
        margin-top: 10px;
    }
}
.feedback {
    .slider {
        margin-top: 50px;
    }
}
// Вакансия
.vacancy-company {
    font-weight: 500;
    font-size: 21px;
    color: $title-color;
}
.vacancy-pay {
    font-weight: 700;
    font-size: 21px;
    color: $blue;
}
.vacancy-city,
.vacancy-date {
    width: 50%;
    font-size: 14px;
    color: $title-color;
}
.vacancy-employment {
    width: 100%;
    font-weight: 400;
    color: $title-color;
    margin-top: 5px;
}
.vacancy-meta {
    margin-bottom: 10px;
}
.vacancy-meta,
.vacancy-column-box {
    flex-wrap: wrap;
}
.vacancy-date {
    text-align: right;
}
.vacancy-column-box {
    margin: 0 -20px;
}
.vacancy-column {
    padding: 0 20px;
    margin-bottom: 20px;
    h2 {
        font-weight: 500;
        font-size: 21px;
        color: $title-color;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 10px;
    }
}
.vacancy-column--third {
    width: 33.3%;
}
.vacancy-action,
.vacancy-favorite {
    width: 50%;
}
.vacancy-favorite {
    text-align: right;
}
.vacancy-favorite-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 36.98px;
    height: 36.98px;
    background: url(../img/star.svg) 0 0 no-repeat;
    border: none;
    outline: none;
    &.vacancy-favorite-link--active {
        background: url(../img/star-blue.svg) 0 0 no-repeat;
        background-size: 36.98px 36.98px;
    }
}
// end Вакансия

// Курс
.head-page--banner {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 70px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 56, 68, 0.7);
    }
    .box-banner {
        position: relative;
        z-index: 5;
    }
    .title {
        margin-top: 0;
        margin-bottom: 5px;
    }
    p+p {
        margin-top: 0;
    }
}
.course-single {
    padding-top: 0;
    .container-full,
    .container {
        margin-top: -60px;
        z-index: 5;
        position: relative;
    }
    .card {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.course-block {
    margin-bottom: 25px;
    h1,
    h2,
    h3,
    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    p {
        margin: 7px 0;
    }
    .tabs-head {
        margin-top: 10px;
    }
    .tabs-caption-item:first-child {
        margin-left: 0;
    }
}
.column-photo {
    margin: 10px 0;
    p {
        margin-top: 5px;
        & + p {
            margin-top: 5px;
        }
    }
    .avatar {
        width: 60px;
        height: 60px;
    }
    .meta-box {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $title-color;
        p {
            margin-bottom: 0;
        }
    }
    .rating-star-box {
        margin-top: 5px;
        p {
            margin-top: 0;
            & + .star {
                margin-left: 5px;
            }
        }
        .star + .rating-count-value {
            margin-left: 5px;
        }
        & + h3,
        & + h1,
        & + h2,
        & + h4 {
            margin-top: 7px;
        }
    }
}
.column-photo-desc {
    padding: 0 15px;
}
.column-photo--divider {
    border-bottom: 0.75px solid #ABABAB;
    padding-bottom: 10px;
    &:last-child {
        border-bottom: none;
    }
}
// end Курс

// Контакты
.contacts {
    padding-bottom: 40px;
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 24px;
    }
    p {
        font-weight: 400;
        & + p {
            margin-top: 10px;
        }
        & > span {
            font-weight: 700;
            margin-right: 7px;
        }
    }
}
// end Контакты

@media screen and (max-width: 767px) {
    .courses {
        .card {
            margin-bottom: 25px;
        }
        .box-row--thin {
            margin-bottom: 25px;
        }
    }
    .partners {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .feedback {
        .slider {
            margin-top: 20px;
        }
    }
    .vacancy-company {
        margin-bottom: 10px;
    }
    .vacancy-date {
        text-align: left;
    }
    .head-page--banner {
        .video-column {
            margin-bottom: 20px;
        }
    }

    .column-photo-desc {
        width: 77%;
        padding: 0 10px;
    }
    .btn-add-feedback {
        margin: 10px 0;
    }
}

@media screen and (max-width: 991px) {
    .course-single {
        .container-full,
        .container {
            margin-top: 20px;
        }
    }
    .head-page--banner {
        padding-bottom: 30px;
    }
}