.lk-main {
    flex: 1 0 calc(100% - 210px);
    padding: 20px 30px;
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.column-lk {
    height: 100%;
    margin-top: 0;
    padding: 0 20px;
    .box-head {
        align-items: center;
        border: none;
    }
    h1 {
        font-weight: 500;
        font-size: 21px;
        line-height: normal;
        color: $title-color;
        margin: 0;
    }
}

.lk-form-change-password {
    width: 210px;
}
.lk-form {
    .field-group {
        margin-bottom: 5px;
        & + input[type="submit"] {
            margin-top: 13px;
        }
    }
}

.lk-profile-settings {
    padding-top: 20px;
    .avatar-field-img {
        margin-bottom: 20px;
        margin-right: 25px;
        width: 95px;
        height: 95px;
        display: inline-block;
        vertical-align: middle;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .avatar-field {
        .field-group {
            display: inline-block;
            vertical-align: middle;
            min-width: 500px;
            max-width: 900px;
            margin-bottom: 20px;
        }
    }
    .column-settings {
        padding: 0 15px;
        width: 237px;
        margin-bottom: 10px;
    }
    .column-settings-full {
        padding: 0 15px;
        width: 100%;
    }
}
.tabs-content {
    p {
        max-width: 383px;
    }
}

@media screen and (max-width: 767px) {
    .lk-form-change-password {
        width: 100%;
    }
    .tabs-caption-item {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 991px) {
    .lk-main {
        padding: 20px 15px;
        width: 100%;
        .box-head h1 {
            margin-bottom: 10px;
        }
    }
    .lk-tabs-head {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .tabs-caption {
        order: 2;
        margin-top: 20px;
        text-align: center;
    }
    .lk-profile-settings {
        padding-bottom: 20px;
        text-align: center;
        .field-group {
            text-align: left;
        }
        .avatar-field-img {
            width: 84px;
            height: 84px;
        }
        .avatar-field {
            .field-group {
                min-width: calc(100% - 120px);
                max-width: calc(100% - 120px);
                overflow: hidden;
            }
        }
        .column-settings {
            width: 100%;
            margin-bottom: 0;
        }
    }
}