// Вакансия
.vacancy-company {
    font-weight: 500;
    font-size: 21px;
    color: $title-color;
}
.vacancy-pay {
    font-weight: 700;
    font-size: 21px;
    color: $blue;
}
.vacancy-city,
.vacancy-date {
    width: 50%;
    font-size: 14px;
    color: $title-color;
}
.vacancy-employment {
    width: 100%;
    font-weight: 400;
    color: $title-color;
    margin-top: 5px;
}
.vacancy-meta {
    margin-bottom: 10px;
}
.vacancy-meta,
.vacancy-column-box {
    flex-wrap: wrap;
}
.vacancy-date {
    text-align: right;
}
.vacancy-column-box {
    margin: 0 -20px;
}
.vacancy-column {
    padding: 0 20px;
    margin-bottom: 20px;
    h2 {
        font-weight: 500;
        font-size: 21px;
        color: $title-color;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 10px;
    }
}
.vacancy-column--third {
    width: 33.3%;
}
.vacancy-action,
.vacancy-favorite {
    width: 50%;
}
.vacancy-favorite {
    text-align: right;
}
.vacancy-favorite-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 36.98px;
    height: 36.98px;
    background: url(../img/star.svg) 0 0 no-repeat;
    border: none;
    outline: none;
    &.vacancy-favorite-link--active {
        background: url(../img/star-blue.svg) 0 0 no-repeat;
        background-size: 36.98px 36.98px;
    }
}
// end Вакансия


// Вакансии
.vacancy-row {
    margin: 0 -5px;
    flex-wrap: wrap;
}
.vacancy-card {
    margin: 0 5px 10px;
    width: 32.4%;
    .vacancy-favorite-link {
        width: 19.27px;
        height: 19.27px;
        background-size: 19.27px 19.27px;
    }
    .vacancy-favorite {
        width: 30px;
    }
    .vacancy-company {
        font-size: 16px;
        width: 50%;
    }
    .vacancy-city,
    .vacancy-pay {
        text-align: right;
    }
    .vacancy-date {
        text-align: left;
    }
    .vacancy-pay {
        width: 50%;
        color: $dark-blue;
    }
}
.vacancy-name {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: $dark-blue;
}
.vacancy-desc {
    height: 84px;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
}
.vacancy-link {
    color: inherit;
}
// end Вакансии
