.promo {
    background-size: cover;
    background-position: 0 0;
    min-height: 575px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(114.76deg, rgba(51, 135, 182, 0.7644) 4.17%, rgba(5, 135, 111, 0.6006) 101.55%);
    }
}
.promo-box {
    z-index: 5;
    position: relative;
    min-height: 575px;
    padding-bottom: 50px;
    padding-left: 90px;
    width: 72%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.promo-title {
    font-weight: bold;
    font-size: 44px;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .promo {
        min-height: 320px;
        text-align: center;
        background-position: center;
    }
    .promo-box {
        min-height: 320px;
        padding-bottom: 50px;
        padding-left: 0;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .promo-title {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 30px;
    }
}