/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
        outline: none;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.slider {
    padding-bottom: 50px;
}
.slider-vertical {
    padding: 0 25px;
}
.slider-vertical-item {
    text-align: center;
}
.slider-vertical-photo {
    margin-bottom: 20px;
    width: 141px;
    height: 141px;
    margin: auto;
    img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}
.slider-vertical-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $font-color;
    margin: 10px 0;
}
.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #A1A1A1;
    font-size: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
    outline: none;
    &:hover,
    &:active {
        border-color: $dark-blue;
    }
}
.slick-prev {
    left: 0;
    transform: rotate(-131deg);
}
.slick-next {
    right: 0;
    transform: rotate(47deg);
}

.slider-two-columns {
    padding-left: 50px;
    padding-right: 50px;
    .title {
        margin-top: 0;
        margin-bottom: 7px;
        font-weight: 500;
        font-size: 21px;
        line-height: normal;
    }
    p {
        font-size: 15px;
        line-height: 20px;
        color: #3b3b3b;
    }
}
.slick-initialized {
    .slider-two-columns-item {
        display: flex;
        flex-wrap: wrap;
    }
}
.slider-two-columns-photo {
    width: 148px;
    height: 148px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
.slider-two-columns-desc {
    width: calc(100% - 148px);
    padding-left: 30px;
}
.slick-dots {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    li {
        display: inline-block;
        vertical-align: middle;
        margin: 8px;
        padding-left: 0;
        &:before {
            display: none;
        }
    }
    button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #A1A1A1;
        font-size: 0;
        border: none;
        padding: 0;
        outline: none;
    }
    .slick-active button {
        background-color: $blue;
    }
}
.no-dots {
    padding-bottom: 0;
    & .slick-dots {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .slider-vertical-photo {
        width: 110px;
        height: 110px;
    }
    .slider-two-columns {
        padding-right: 25px;
        padding-left: 25px;
        .slick-arrow {
            top: 36px;
            margin: 5px 0;
        }
        .slick-next {
            right: 8px;
        }
        .slick-prev {
            left: 8px;
        }
    }
    .slider-two-columns-photo {
        width: 110px;
        height: 110px;
        margin: auto;
        margin-bottom: 10px;
    }
    .slider-two-columns-desc {
        width: 100%;
        padding-left: 0;
        p {
            text-align: left;
        }
    }
    .slider-two-columns-item {
        text-align: center;
    }
}