.lk-table {
    width: 100%;
    th {
        border-bottom: 0.75px solid #ABABAB;
        text-align: left;
        font-weight: 400;
        font-size: 10px;
        line-height: normal;
        color: #ABABAB;
        padding-bottom: 7px;
    }
    td {
        border-bottom: 0.75px solid rgba(171, 171, 171, 0.4);
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        color: $title-color;
        padding: 15px 0;
    }
    a {
        color: inherit;
    }
    .published {
        color: #64B967;
    }
    .archive {
        color: #7C7C7C;
    }
    .draft {
        color: #DA1F13;
    }
}
.remove-ikon {
    display: block;
    width: 15px;
    height: 15px;
    margin: auto;
    font-size: 0;
    cursor: pointer;
    background: url(../img/remove.svg) 0 0 no-repeat;
}