.tabs-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 22px 0 20px;
    &.tabs-head--center {
        justify-content: center;
    }
}
.tabs-content {
    display: none;
    font-size: 16px;
    line-height: 19px;
    color: $title-color;
    &.active {
        display: block;
    }
    .title {
        font-weight: 500;
        font-size: 18px;
        line-height: normal;
        color: $title-color;
        margin-top: 20px;
    }
    button {
        margin-top: 40px;
    }
}
.tabs-caption-item {
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    color: #A1A1A1;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding-bottom: 2px;
    padding-left: 0;
    &.active {
        color: $blue;
        border-bottom: 1.5px solid $blue;
    }
    &:before {
        display: none;
    }
}
.tabs-caption {
    margin: 0;
}
.tabs-caption--blue {
    border: 1px solid $dark-blue;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    width: 100%;
}
.tabs-caption-item--blue {
    border-left: 1px solid $dark-blue;
    margin: 0;
    padding: 7px 5px;
    width: 40%;
    color: $dark-blue;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    &:first-child {
        border-left: none;
    }
    &.active {
        color: #fff;
        border-bottom: none;
        background-color: $dark-blue;
    }
}

@media screen and (max-width: 767px) {
    .tabs-content {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        .title {
            margin-top: 0;
        }
    }
    .tabs-caption-item {
        margin: 0 8px 10px;
    }
    .tabs-caption-item--blue {
        margin: 0;
    }
    .tabs-head {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .tabs {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
